<div id="banner">
	<div class="outline"></div>
	
	<img src="./images/bg.jpg" alt="" inline>

	<div class="frame frame1">
		
		<img class="bracket bracket_1" src="./images/bracket_1.png" alt="" inline>
		<img class="bracket bracket_2" src="./images/bracket_2.png" alt="" inline>
		<img class="retina ta_1" src="./images/ta_1.png" alt="" inline>
		<img class="retina ta_2" src="./images/ta_2.png" alt="" inline>
		<img class="player_left" src="./images/player_left.png" alt="" inline>
		<img class="player_right" src="./images/player_right.png" alt="" inline>
		<img class="ball" src="./images/ball.png" alt="" inline>
		<img class="retina logo" src="./images/logo.png" alt="" inline>
	</div>
	<div class="frame frame2">
		
		<img class="retina tb" src="./images/tb.png" inline>
		<img class="retina cta" src="./images/cta.png" inline>
		<img class="retina ill" src="./images/ill.png" inline>
		<img class="retina phone" src="./images/phone.png" inline>
		<img class="retina legal" src="./images/legal.png" inline>
	</div>
	<% include ../_common/templates/legal %>
</div>