

@import '../../../_common/styles/common.scss';



.frame2 {
	// opacity: 1;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}

.bracket {
	@include pos-scale(0, 0, .5);
}

.bracket.bracket_1 {
	clip: rect(0px 410px 160px 290px);
	// clip: rect(0px 410px 160px 420px);
}

.bracket.bracket_2 {
	clip: rect(0px 560px 160px 290px);
	// clip: rect(0px 440px 160px 290px);
}

.ill{
	transform-origin: 50% 100%;
	@include pos-scale(-150, -250, 0.5);
}

#legalBtn{	
	@include pos(7, 198);
}
